﻿@{
    ViewData["Title"] = "Profil";
}
<div id="header" class="skel-panels-fixed">
    <div class="top">
        <div id="logo">
            <span class="image avatar48"><img src="~/images/profil/avatar.jpg" alt="Image de Lionel Perinetti" /></span>
            <h1 id="title">Lionel Perinetti</h1>
            <span class="byline">Développeur Informatique</span>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Accueil</span></a></li>
                <li><a href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Présentation</span></a></li>
                <li><a href="#about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">Curriculum vitae</span></a></li>
                <li><a href="#contact" id="contact-link" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Contacter moi</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="bottom">
        <ul class="icons">
            <li><a href="https://twitter.com/perinetti_yo" class="fa fa-twitter solo" aria-hidden="true" target="_blank"><span>Twitter</span></a></li>
            <li><a href="https://www.facebook.com/lionel.perinetti" class="fa fa-facebook solo" aria-hidden="true" target="_blank"><span>Facebook</span></a></li>
            <li><a href="https://gitlab.com/sentenza" class="fa fa-github-square solo" aria-hidden="true" target="_blank"><span>Gitlab</span></a></li>
            <li><a href="https://www.linkedin.com/in/lionel-perinetti" class="fa fa-linkedin solo" aria-hidden="true" target="_blank"><span>Linkedin</span></a></li>
            <li><a href="#contact" class="fa fa-envelope solo"><span>Email</span></a></li>
        </ul>
    </div>
</div>

<div id="main">
    <section id="top" class="one">
        <div class="container">

            <a href="" class="image featured"><img src="~/images/profil/pic01.jpg" alt="" /></a>

            <header>
                <h2 class="alt">Bonjour, <strong>Hello world</strong></h2>
            </header>

            <p>
                Bienvenue sur mon site, il fait une présenation rapide
                de mes compétences techniques dans le développement informatique.

            </p>

            <footer>
                <a href="#portfolio" class="button scrolly">Suite</a>
            </footer>

        </div>
    </section>
    <section id="portfolio" class="two">
        <div class="container">

            <header>
                <h2>Présentation</h2>
            </header>

            <p>
                J'ai un parcours diversifié dans le développement informatique me donnant une grande capacité d’adaptation et une bonne connaissance générale 
                des différentes technologies web. Mes expériences les plus significatives restent dans le développement «back-end» en Asp.Net C# pour avoir 
                travailler en web service, web méthode ainsi que sur du MVC dans la partie contrôleur et modèle avec l’ «Entity Framework» Asp.Net.
                J'ai également travailler avec le FrameWork WCF pour avoir développer à partir d'un feuille blanche une application pour la CEPAC.  
                Mes centres d'intérêts tournent beaucoup sur le sport, les jeux vidéo vintage sur console, ainsi que la musique et le cinéma 
                (Amateur des films de Sergio Leone et de Martin Scorcese).
            </p>

            <div class="row">
                <div class="4u">
                    <article class="item">
                        <a href="" class="image full"><img src="~/images/profil/pic02.jpg" alt="" /></a>
                        <header>
                            <h3>Windows communication foundation</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="" class="image full"><img src="~/images/profil/pic03.jpg" alt="" /></a>
                        <header>
                            <h3>T-Sql</h3>
                        </header>
                    </article>
                </div>
                <div class="4u">
                    <article class="item">
                        <a href="" class="image full"><img src="~/images/profil/pic04.png" alt="" /></a>
                        <header>
                            <h3>Langage C#</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="" class="image full"><img src="~/images/profil/pic05.png" alt="" /></a>
                        <header>
                            <h3>Html5 Css3</h3>
                        </header>
                    </article>
                </div>
                <div class="4u">
                    <article class="item">
                        <a href="" class="image full"><img src="~/images/profil/pic06.png" alt="" /></a>
                        <header>
                            <h3>Asp.net-MVC-Entity Framwork</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="" class="image full"><img src="~/images/profil/pic07.png" alt="" /></a>
                        <header>
                            <h3>Langage JS </h3>
                        </header>
                    </article>
                </div>
            </div>

        </div>
    </section>
    <section id="about" class="three">
        <div class="container">

            <header>
                <h2>Curriculum vitae</h2>
            </header>

            <a href="" class="image featured"><img src="~/images/profil/pic08.jpg" alt="" /></a>

            <p>
                Vous pouvez télécharger mon curriculum vitae <a>ici</a>, vous aurez un aperçu de mon parcour en tant qu'analyste informatique.
            </p>

        </div>
    </section>

    <section id="contact" class="four">
        <div class="container">

            <header>
                <h2>Me Contacter</h2>
            </header>

            <p>
                Vous avez une question à me poser. Une requette à me faire parvenir. Me faire un commentaire sur le site. Ou byline
                pour autre sujet, n'hésitez pas à me faire parvenir et je me ferais un plaisir de vous contacter ;)
            </p>
            <form method="post" action="#">
                <div class="row half">
                    <div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
                    <div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
                </div>
                <div class="row half">
                    <div class="12u">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <a href="#" class="button submit">Envoyer</a>
                    </div>
                </div>
            </form>

        </div>
    </section>

</div>

<div id="footer">
    <div class="copyright">
        <p>&copy; 2020 Perinetti Lionel</p>
        <ul class="menu">
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>
