/*
	Prologue 1.2 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Forms */

		form
		{
		}

            form input.text,
            form select,
            form textarea {
                -ms-behavior: url('../../css/profil/ie9.css');
                /*-ms-behavior: url('../css/profil/ie9.css');*/
            }
			
	/* Buttons */
		
		.button
		{
			-ms-behavior: url('../../css/profil/PIE.htc');
		}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#nav
	{
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					color: #888;
				}

					#nav ul li a.active
					{
						background: #1C2022;
					}

/*********************************************************************************/
/* Side Panel                                                                    */
/*********************************************************************************/

	#sidePanelToggle
	{
	}
	
		#sidePanelToggle .toggle
		{
			background-color: #888;
		}